/* body {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

footer, header {
  background-color: lightpink;
  padding: 20px;
}

main {
  background-color: rgb(247, 223, 227);
  padding: 20px;
} */